<!DOCTYPE html>
<html>
  <head>
      <title>Interactive Rating Component</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <link rel="stylesheet" href="style.css" type="text/css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="body">
    <div id="app" class="app">
      <main class="main">
        <div class="box" v-if=submited>
          <figure class="validation-figure">
            <img src="./assets/illustration-thank-you.svg" alt="Congratulation Icon" class="validation-submit-img">
            <figcaption class="validation-caption">You selected {{ selected }} out of {{ ratings.length }}</figcaption>
          </figure>
          <h1 class="title">Thank you!</h1>
          <p class="description">We appreciate you taking the time to give a rating. If tou ever need more support, don't hesitate to get in touch!</p>
        </div>
        <div class="box" v-else>
          <div class="star-ctn">
            <img src="./assets/icon-star.svg" alt="Star Icon" class="star">
          </div>
          <div class="text-ctn">
            <h1 class="title">How did we do?</h1>
            <p class="description">Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!</p>
          </div>
          <form class="form" @submit.prevent="handleSubmit()">
            <div class="ratings-ctn">
              <template v-for="rating in ratings" :key=ratings[rating-1]>
                <div class="rating-ctn">
                  <input type="radio" :id=ratings[rating-1] :value=ratings[rating-1] name="ratings" class="rating-radio-btn" v-model="selected">
                  <label :for=ratings[rating-1] class="rating-label"><span>{{ ratings[rating-1] }}</span></label>
                </div>
                </template>
            </div>  
            <input type="submit" value="SUBMIT" class="submit-btn" :disabled=!selected>
          </form>
        </div> 
      </main>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
  </body>
</html>