<!DOCTYPE html>
<html>
  <head>
      <title>Interactive Rating Component</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body class="body">
    <div id="app" class="app">
      <main class="main">
        <div v-if=submited></div>
        <div v-else>
          <div class="box">
            <div class="img-ctn">
              <img src="./assets/icon-star.svg" alt="Star Icon">
            </div>
            <h1 class="title">How did we do?</h1>
            <p class="description">Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!</p>
            <form class="form">
              <template v-for="rating in ratings" :key=ratings[rating-1]>
                <label :for=ratings[rating-1] class="rating-label">{{ ratings[rating-1] }}</label>
                <input type="radio" :id=ratings[rating-1] :value=ratings[rating-1] name="ratings" class="rating-radio-btn">
              </template>
              <input type="submit" value="Submit" class="submit-btn">
            </form>
          </div>
        </div>
      </main>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
  </body>
</html>